.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;

    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    z-index: 20;

    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(tab-port) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;

    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );

    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 10;

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }

    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;

    opacity: 0;
    width: 0;

    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    @include center-horizontal-and-vertical;

    list-style: none;
    text-align: center;

    // width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      position: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  //FUNCTIONALITY
  //using general sibling selector ~ to target background
  &__checkbox:checked ~ &__background {
    transform: scale(95);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &:before,
    &:after {
      width: 3rem;
      height: 0.2rem;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.3s;
    }

    &:before {
      top: -0.8rem;
    }

    &:after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  //makes the middle button line disappear.
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
